<input type="text" [(ngModel)]="title"> {{ title }}


<div [ngSwitch]="title">
    <p *ngSwitchCase="'Daniel'">Ingresaste a {{title}}</p>
    <p *ngSwitchCase="'Jose'">Ingresaste a {{title}}</p>
    <p *ngSwitchDefault>No hay match</p>
</div>

<button (click)="addItem(title)">Add item</button>

<ul>
    <li *ngIf="items.length == 0">La Lista esta vacia</li>
    <li *ngFor="let name of items; index as i">
        {{name}} {{i}}
        <button (click)="deleteItem(i)">Delete</button>
    </li>
</ul>

<div *ngFor="let product of produts">
    <app-product (productClicked)="clickProduct($event)" [product]="product"></app-product>
</div>